body {
  font-family: arial;
  margin: 0;

}

.messagesWrapper {
  background: lightblue;
  height: 100vh;
  overflow-x: hidden;
  overflow-x: scroll;
  font-size: 20px;
  box-sizing: border-box;
  padding-bottom: 100px;

}

.messagesWrapper div {
  background: #F5F5DC;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0,0,0,.5);
  padding: 5px 10px 10px 15px;
  margin: 15px;
  width: 50vw;
  word-wrap: break-word;

}

.messagesWrapper div b {
  display: block;
  font-size: 18px;

}

.infoBox {
  background: skyblue !important;
  text-align: center !important;
  padding: 5px !important;

}

.fileViewer {
  max-height: 50vh;
  max-width: 50vw;
  border: 2px solid black;
  border-radius: 10px;
  display: block;
  margin: 5px;
  background: white;

}


form {
  position: absolute;
  bottom: 0;
  background: #DDD;
  width: 100vw;
  padding: 10px;
  border-top: 2px solid black;
  box-sizing: border-box;

}

.filePreviewWrapper {
  display: none;
  position: relative;
  padding-left: 15px;

}

.removeFileBtn, .exitAttachmentOptions, .exitDocBtn {
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 0;
  margin-left: 50vh;
  background: #fff;
  border-radius: 50%;
  border: 2px solid black;
  font-weight: bolder;
  width: 20px;
  height: 20px;
  padding: 5px;
  text-align: center;
  cursor: pointer;

  transition: .3s;

}

.removeFileBtn:hover, .exitAttachmentOptions:hover, .exitDocBtn:hover {
  border: 2px solid white;
  background: red;
  color: white;

}

.exitAttachmentOptions {
  margin-left: 0;
  right: 10px;
  top: 10px;

}



.imgPreviewer, .vidPreviewer {
  max-height: 25vh;
  max-width: 50vh;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  display: none;
  background: white;

}

.docPreviewer {
  display: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #1588FF;
  overflow: hidden;
  word-wrap: break-word;
  width: 12vw;

}

.docPreviewer .fa-file-alt {
  font-size: 8vh;

}

.docPreviewer b {

}


.textbox, button {
  border: 2px solid black;
  margin: 5px;
  font-size: 25px;

}

.textbox {
  width: 55vw;
  border-radius: 100px;
  padding: 5px

}

.clipWrapper {
  font-size: 28px;
  cursor: pointer;
  margin: 0 10px 0 10px;
  display: inline-block;
  overflow: hidden;
  width: 28px;
  height: 28px;
  margin: 0 10px -2.5px 10px;
  position: relative;
  transition: transform .3s;

}

.clipWrapper:hover {
  transform: scale(1.2) translateY(-15%);

}

.fileBtn {
  font-size: 50px;

}

#sendBtn {
  cursor: pointer;
  border-radius: 5px;
  display: inline;
  padding: 5px;
  background: #1588FF;
  font-weight: bolder;
  color: white;
  transition: box-shadow .3s;

}

#sendBtn:hover {
  box-shadow: 0 2px 7px rgba(0,0,0,.5);

}




.attachmentOptions {
  position: fixed;
  bottom: 0;
  padding: 40px;
  background: #ebfffd;
  border-top: 2px solid black;
  border-right: 2px solid black;
  width: 75vw;
  border-radius: 0 10px 0 0;

  transform: translateY(100%);
  transition: transform .3s;
}

.showAttachmentOptions {
  transform: translateY(0%);

}



.docViewer {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: white;
  top: 0;

}

.exitDocBtn {
  right: 10vw;
  top: 10px;

}

.docViewerHead {
  height: 55px;
  font-size: 10vh;
  padding-left: 10vw;
  position: relative;
  background: white;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  position: relative;

}

.docViewer iframe {
  width: 100vw;
  height: 100vh;

}
