<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inventory Management</title>

    <script> const roomName = "<%= roomName %>"; </script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js" charset="utf-8"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="styles.css">

  </head>
  <body>

    <div class="burgerMenu">

      <div></div>
      <div></div>
      <div></div>

    </div>

    <div class="navWrapper">

      <a href="/" class="exitBtn">Exit room</a>

      <div class="usersTab">

        <div class="usersTabTitle">Users</div>

        <div class="usersList">

          <% Object.keys(users).forEach(user => { %>
            <div class="userBox" id="<%= user %>">

            <p class="name"> <%= users[user] %> </p>

            </div>
          <% }) %>

        </div>

      </div>

    </div>


    <div class="scrollToBottom"><i class="far fa-arrow-alt-circle-down"></i></div>


    <div class="chatWrapper">

      <div class="messagesWrapper"></div>


      <form class="textboxForm">

        <div class="filePreviewWrapper">
          <img class="imgPreviewer" src="">
          <video class="vidPreviewer" src="" controls></video>
          <div class="docPreviewer">
            <i class="fas fa-file-alt"></i>
            <br>
            <b></b>
          </div>
          <div class="removeFileBtn">X</div>
        </div>

        <div class="formWrapper">

          <input class="textbox" autofocus>

          <span class="clipWrapper">
            <input style="opacity: 0; position: absolute;" class="fileBtn" type="file" accept="image/*,video/*,audio/*,text/*,application/*">
            <i class="addFileBtn fas fa-paperclip"></i>
          </span>

          <button type="submit" id="sendBtn"><i class="fas fa-paper-plane"></i></button>

        </div>

      </form>



      <div class="docViewer">

        <div class="docViewerHead">

          <div class="exitDocBtn">X</div>

        </div>

        <iframe src="" width="100vw" height="90vh"></iframe>

      </div>



      <div class="attachmentOptions">

        <div class="exitAttachmentOptions">X</div>

        <i class="addImgBtn fas fa-camera"></i>
        <input style="opacity: 0" class="fileBtn" type="file">

      </div>

    </div>

  </body>
</html>
