body {
  font-family: arial;
  margin: 0;

}

.burgerMenu {
  display: none;
  position: fixed;
  top: .65em;
  left: .65em;
  width: 2.25em;
  z-index: 2;
  cursor: pointer;

}

.burgerMenu div {
  width: 100%;
  height: .2em;
  margin-top: .5em;
  margin-bottom: .5em;
  background: #333;

}

.burgerMenu div:first-child {
  margin-top: 0;

}

.navWrapper {
  position: fixed;
  background: white;
  border-right: .01vw solid grey;
  transition: transform .3s;
  height: 100vh;
  width: 25vw;

}

.exitBtn {
  position: absolute;
  width: 100%;
  color: #1588FF;
  background: #fff;
  font-size: .95em;
  box-sizing: border-box;
  padding: 1em;
  cursor: pointer;
  border-right: inherit;
  top: 0;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 .1vw .4vw rgba(0,0,0,.7);
  transition: .3s;

}

.exitBtn:hover {
  background: #EFEFEF;

}

.usersTab {
  position: absolute;
  top: 20vh;
  width: 100%;
  height: 80vh;

}

.usersTabTitle {
  font-size: 2em;
  color: #333;
  border-bottom: .01vw solid grey;
  text-indent: .5vw;

}

.usersList {
  overflow-y: scroll;
  width: 100%;
  height: 100%;

}

.userBox {
  box-sizing: border-box;
  padding: 1vh;
  border-bottom: .01vw solid grey;
  border-right: .01vw solid grey;

}

.myUserBox {
  background: #c3ffa9;

}

.scrollToBottom {
  position: fixed;
  right: 1em;
  bottom: 3em;
  font-size: 2em;
  z-index: 1;
  color: #1588ff;
  background: white;
  padding: .05em .1em .05em .1em;
  box-sizing: border-box;
  box-shadow: 0 .1vw .4vw rgba(0,0,0,.7);
  border-radius: .2em;
  cursor: pointer;
  display: none;
  opacity: 0;

}

.scrollToBottom.show {
  display: initial;
  opacity: 1;

}


.messagesWrapper {
  background: #ffffeb;
  height: 100vh;
  overflow-x: hidden;
  overflow-x: scroll;
  font-size: 1em;
  box-sizing: border-box;
  padding-bottom: 100px;
  width: 75vw;
  position: absolute;
  right: 0;
  scroll-behavior: smooth;

}

.messagesWrapper div {
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,.5);
  padding: 5px 10px 10px 15px;
  margin: 15px;
  width: 50%;
  word-wrap: break-word;
  box-sizing: border-box;

}

.messagesWrapper div b {
  display: block;
  font-size: .8em;

}

.infoBox {
  background: skyblue !important;
  text-align: center !important;
  padding: 5px !important;
  margin: 15px 0 15px 50% !important;
  border-radius: 100vw !important;
  transform: translate(-50%, 0);

}

.myMsg {
  background: #c3ffa9 !important;
  margin-left: calc(50% - 15px) !important;


}

.fileViewer {
  max-height: 50%;
  max-width: 50%;
  border: 2px solid black;
  border-radius: 10px;
  display: block;
  margin: 5px;
  background: white;

}


.textboxForm {
  position: absolute;
  bottom: 0;
  background: #fff;
  width: 75vw;
  border-top: 2px solid black;
  box-sizing: border-box;
  right: 0;

}

.filePreviewWrapper {
  display: none;
  position: relative;
  padding-left: 15px;

}

.removeFileBtn, .exitAttachmentOptions, .exitDocBtn {
  font-size: 1em;
  display: inline-block;
  position: absolute;
  top: 0;
  margin-left: 50vh;
  background: #fff;
  border-radius: 50%;
  border: 2px solid black;
  font-weight: bolder;
  width: 1em;
  height: 1em;
  padding: .25em;
  text-align: center;
  cursor: pointer;

  transition: .3s;

}

.removeFileBtn:hover, .exitAttachmentOptions:hover, .exitDocBtn:hover {
  border: 2px solid white;
  background: red;
  color: white;

}

.exitAttachmentOptions {
  margin-left: 0;
  right: 10px;
  top: 10px;

}



.imgPreviewer, .vidPreviewer {
  max-height: 25vh;
  max-width: 50vh;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  display: none;
  background: white;

}

.docPreviewer {
  display: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #1588FF;
  overflow: hidden;
  word-wrap: break-word;
  width: 12vw;

}

.docPreviewer .fa-file-alt {
  font-size: 8vh;

}


.formWrapper {
  position: relative;
  width: 100%;
  padding: 10px 0 10px 0;
  text-align: center;
}

.textbox {
  border: 2px solid grey;
  font-size: 1.25em;
  width: 75%;
  border-radius: 100px;
  padding: 5px;

}

.clipWrapper {
  font-size: 1.2em;
  cursor: pointer;
  margin: 0 .3em 0 .3em;
  display: inline-block;
  overflow: hidden;
  width: 1.4em;
  height: 1.4em;  position: relative;
  transition: transform .3s;

}

.clipWrapper:hover {
  transform: scale(1.2) translateY(-15%);

}

.addFileBtn {
  font-size: 1.3em;

}

#sendBtn {
  border: none;
  cursor: pointer;
  border-radius: 100%;
  display: inline;
  background: #1588FF;
  font-size: 1.2em;
  width: 2em;
  height: 2em;
  padding: .5em .6em .5em .4em;
  color: white;
  transition: box-shadow .3s;
  text-align: center;

}

#sendBtn:hover {
  box-shadow: 0 2px 7px rgba(0,0,0,.5);

}




.attachmentOptions {
  position: fixed;
  bottom: 0;
  padding: 40px;
  background: #ebfffd;
  border-top: 2px solid black;
  border-right: 2px solid black;
  width: 75vw;
  border-radius: 0 10px 0 0;

  transform: translateY(100%);
  transition: transform .3s;
}

.showAttachmentOptions {
  transform: translateY(0%);

}



.docViewer {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: white;
  top: 0;

}

.exitDocBtn {
  right: 10vw;
  top: 10px;

}

.docViewerHead {
  height: 55px;
  font-size: 10vh;
  padding-left: 10vw;
  position: relative;
  background: white;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  position: relative;

}

.docViewer iframe {
  width: 100vw;
  height: 100vh;

}


@media only screen and (max-width: 850px) {
  .navWrapper {
    transform: translate(-100%, 0);
    width: 35vw;
    z-index: 1;

  }

  .navWrapper.show {
    transform: translate(0, 0);

  }

  .messagesWrapper {
    width: 100vw;

  }

  .textboxForm {
    width: 100vw;

  }

  .burgerMenu {
    display: initial;

  }

}

@media only screen and (max-width: 640px) {
  .navWrapper {
    width: 50vw;

  }

}

@media only screen and (max-width: 500px) {
  .messagesWrapper {
    font-size: .85em;

  }

}

@media only screen and (max-width: 370px) {
  .messagesWrapper div {
    width: 75%;

  }

  .myMsg {
    margin-left: calc(25% - 15px) !important;

  }

}

@media only screen and (max-width: 480px) {
  .textbox {
    width: 60%;

  }

}

@media only screen and (max-width: 440px) {
  .navWrapper {
    width: 70vw;

  }

}

@media only screen and (max-width: 370px) {
  .formWrapper {
    font-size: .75em;

  }

}

@media only screen and (max-width: 300px) {
  .navWrapper {
    width: 100vw;

  }

}

@media only screen and (max-width: 250px) {
  .formWrapper {
    font-size: .5em;

  }

}
